# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# SQLite database files
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm

# Backup data finance (data asli, jangan masuk version control)
legacy/*.json
